@font-face {
    font-family: "WixMadeforDisplayRegular";
    src: url("../Wix MadeFor Display/WixMadeforDisplayRegular.otf");
}

.mobile {
    width: 400px;
    height: 400px;
}

.uxText {
    font-family: 'WixMadeforDisplayRegular';
    display: block;
}

.intermediate {
    font-family: 'WixMadeforDisplayRegular';
    text-transform: uppercase;
}

.learnMore {
    font-family: 'WixMadeforDisplayRegular';
    text-decoration-line: underline;
}

.group {
    width: 30px;
    height: 30px;
}

.arrow {
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 25px;
}

.textArea {
    display: flex;
    grid-template-rows: auto 0fr;
    align-content: space-between;
    justify-content: space-between;
}

.skillDiv {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
}

.learnMoreThings {
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.textContainer {
    padding: 20px;
    margin: -30px 0px 0px;
}

.circleIcon {
    padding: 0px 10px 0px 0px;
}